<div class="bubble-wrap">
  <div class="hello">
  <h1>This is all my letters</h1>
    <div>
      <%= link_to "+", new_letter_path, class:"boutonplus" %>
    </div>
  </div>

  <div class="letters">
    <div data-key="81" class="letter">
      <p>Q</p>
    </div>

    <div data-key="83" class="letter">
      <p>S</p>
    </div>

    <div data-key="68" class="letter">
      <p>D</p>
    </div>

    <div data-key="70" class="letter">
      <p>F</p>
    </div>

    <div data-key="71" class="letter">
      <p>G</p>
    </div>





    <!--<% @letters.each do |letter| %>

    <div data-key="" class="letter">
        <%= letter.name %>
    </div>
    <% end %> -->

  </div>
</div>
